body{
	// background-image: url(../../img/bg-10-full.jpg);
	// background-repeat: no-repeat;
	// background-size: 100% 100%;
  background-color: #eee;
}

p{
  font-family: sans-serif, verdana;
}

.jumbotron-fluid{
  background-image: url(../../img/ffshead.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.container-title{
  background-color: rgba(255, 255, 255, .8);
  padding: 20px 10px 20px 10px;
  margin: 20px 10px 20px 10px;
}

.mission{
  font-size: 18px;
  text-align: center;
}

.mission-sub{
  @extend .mission;
  font-size: 14px;
}

.container-mission{
  padding: 50px 50px 50px 50px;
}

.col-5{
  font-size: 12px;
  margin-top: 20px;
  margin-left: 10px;
}

.video{
  margin-top: 20px;
}

.footer{
  background-color: lighten(yellow, 30%);
  padding: 20px;
  background-size: cover;
}

.btn-primary{
  border-radius: 25px;
  font-size: 20px;
}

.footer-logo{
  margin-left: 20px;
}
