.mission{
  font-size: 18px;
  font-family: sans-serif;
}

.container-mission{
  border: solid 1px gray;
  padding: 20px;
  background-color: #f1f1f1;
}

.col-4{
  border: solid 1px black;
  margin-left: 20px;
}

.col-5{
  font-size: 12px;
}
